@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Barra de navegação */
nav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    height: 90px;
    left: 0;
    right: 0;
    z-index: 10;
}

#nav-bar{
    list-style: none;
    display: flex;
}

#nav-bar li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.div-navbar{
    display: flex;
    gap: 75px;
    align-items: center;
}

a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background 4s;
}

hr{
    border: solid 1px white;
    transform: scaleX(0);
    opacity: 0;
}

li hr{
    transition: all 0.5s;
}

li:hover hr{
    transform: scaleX(1);
    opacity: 1;

}

/* Logo */
#logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

#logo img{
    vertical-align: middle;
}

/* Imagem de fundo */
#tituloimg{
    background-image: url(/assets/images/astronaut-space-suit-neon-stars-light-5k-5120x2881-6275.jpg) ;
    background-size: cover;
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Barra de rolagem */
body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track{
    background-color: #fff;
}

body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, rgb(248, 118, 190), rgb(114, 179, 253, 0.966));
    border-radius: 12px;
}


/* Titulo */
.titulo-inicial{
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    font-size: 800%;
    text-align: center;
    animation: text-appear .7s  forwards;
}

.subtitulo{
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    animation: text-appear .7s .4s forwards;
}


/* Fundo matricula*/
#fundo-gradient{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #23D5AB, #23A6D5, #23A6D5, rgb(248, 118, 190), rgb(248, 118, 190), #23A6D5, #23A6D5, #23D5AB);
    background-size: 600% 600%;
    animation: Gradient 8s linear infinite;
}


/* Conteiner da matricula */
.container-matricula{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
}

.container-matricula div{
    height: 300px;
    width: 300px;
    background-color: #1E1D1E;
}


